{% extends "bootstrap/base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="{{ url_for('index') }}" class="dropdown-toggle" >Home</a>
            </li>
            {% if user and isactive %}
            <li class="dropdown">
                <a href="{{ url_for('logout') }}" class="dropdown-toggle" >Logout</a>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('upload_file') }}" class="dropdown-toggle" >Upload</a>
            </li>
            {% else %}
            <li class="dropdown">
                <a href="{{ url_for('login') }}" class="dropdown-toggle" >Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% block mycontent %}{% endblock %}
{% endblock %}
