{% extends "base.html" %}

{% block mycontent %}
    <form action="" method="post" id="myform">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-5 col-md-3">
                    <div class="form-login">
                    <h4>Welcome back.</h4>
                    <input type="text" id="userName" name="loginusername" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="password" id="userPassword" name="loginpassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div class="wrapper">
                    <span class="group-btn">     
                        <a href="#" onclick="document.getElementById('myform').submit()" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                    </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
